html, body {
  height: 100%;
  margin: 0 auto;
  background-color: #272822;
  color: gray;
  /*width: 100%;*/
}

div.main {
  height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

div.play-btn {
  display: inline-block;
  border: 1px solid gray;
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 5%;
  font-size: 12pt;
  font-family: Monaco;
  width: 80px;
  height: 40px;
}

table#board {
  /*height: 100%;*/
  margin: 5% auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  opacity: .75;

}

table .cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.current-piece.type-o {
  background-color: #d84795;
}

.current-piece.type-i {
  background-color: #0365a6;
}

.current-piece.type-l {
  background-color: #008d4d;
}

.current-piece.type-j {
  background-color: #d68115;
}

.current-piece.type-z {
  background-color: #d72917;
}

.current-piece.type-s {
  background-color: #8cf3ed;
}

.current-piece.type-t {
  background-color: #8ebbf9;
}

